@model IEnumerable<app.bsms.Models.Manage.Service.Voucher>
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Dashboard/Index">@Resources.Resources.Home</a></li>
        <li class="breadcrumb-item"><a href="~/Customer/Search">@Resources.Resources.Customers</a></li>
        <li class="breadcrumb-item"><a href="~/Accounts/Index/@ViewBag.customerCode">@Resources.Resources.Accounts</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Resources.Resources.Voucher</li>
    </ol>
</nav>
<div class="clearfix">&nbsp;</div>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="~/Accounts/Index/@ViewBag.customerCode">
            @*<img src="~/img/MenuButton/otc2/Octagon-Account.png" width="200" height="200" />*@
            <img src="~/img/MenuButton/otc2/Octagon-Account.png" width="120" height="120"  class="img-fluid rotatingimg"/>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Products/Index/@ViewBag.customerCode">
            @*<img src="~/img/MenuButton/otc2/Octagon Product.png" width="200" height="200" />*@
            <img src="~/img/MenuButton/otc2/Octagon Product.png" width="120" height="120"  class="img-fluid rotatingimg"/>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Prepaid/Index/@ViewBag.customerCode">
            @*<img src="~/img/MenuButton/otc2/Octagon Prepaid.png" width="200" height="200" />*@
            <img src="~/img/MenuButton/otc2/Octagon Prepaid.png" width="120" height="120" class="img-fluid rotatingimg" />
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="~/CreditNote/Index/@ViewBag.customerCode">
            @*<img src="~/img/MenuButton/otc2/Octagon Credit Note.png" width="200" height="200" />*@
            <img src="~/img/MenuButton/otc2/Octagon Credit Note.png" width="120" height="120" class="img-fluid rotatingimg" />
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" href="~/Voucher/Index/@ViewBag.customerCode">
            @*<img src="~/img/MenuButton/otc2/Octagon Voucher.png" width="200" height="200" />*@
            <img src="~/img/MenuButton/otc2/Octagon Voucher.png" width="120" height="120"  class="img-fluid rotatingimg"/>
        </a>
    </li>
</ul>
<div class="clearfix">&nbsp;</div>
<div class="row">
    <div class="col">
        @if (Model != null)
        {
            <div class="media-body pt-3 pb-3 mb-0 border-bottom">
                <div class="row">
                    <div class="col-1-5 text-left">@Resources.Resources.VoucherNo</div>
                    <div class="col-2 text-left">@Resources.Resources.VoucherName</div>
                    <div class="col-1 text-left">@Resources.Resources.TransactionNumber</div>
                    <div class="col-1-5 text-right">@Resources.Resources.TransactionDate</div>
                    <div class="col-1 text-right">@Resources.Resources.Amount</div>
                    <div class="col-1 text-right">@Resources.Resources.Percent</div>
                    <div class="col-1-5 text-right">@Resources.Resources.ExpiryDate</div>
                    <div class="col-1 text-right">@Resources.Resources.Hold</div>
                    <div class="col-1 text-right">@Resources.Resources.Used</div>
                </div>
            </div>
            foreach (var item in Model)
            {
                <div class="media-body pt-3 pb-3 mb-0 border-bottom">
                    <div class="row">
                        <div class="col-1-5 text-left">@item.voucherNo</div>
                        <div class="col-2 text-left">@item.voucherName</div>
                        <div class="col-1 text-left">@item.transactionNumber</div>
                        <div class="col-1-5 text-right">@item.salesDate.ToString("dd MMM yyyy")</div>
                        <div class="col-1 text-right">@item.value</div>
                        <div class="col-1 text-right">@item.percent</div>
                        <div class="col-1-5 text-right">@item.issuedExpiryDate.ToString("dd MMM yyyy")</div>
                        <div class="col-1 text-right">@item.onHold</div>
                        <div class="col-1 text-right">@item.used</div>
                    </div>
                </div>
            }
        }
    </div>
</div>
