@model app.bsms.Models.Catelogue.Catelogue

<ul class="list-unstyled">
    <li class="media">
        <div class="media-body">
            <div class="row">
                <div class="col-8">Description</div>
                <div class="col-2 text-center">Single</div>
                <div class="col-2 text-center">Course</div>
            </div>
            <div class="clearfix">&nbsp;</div>
        </div>
    </li>
@if (Model.lstServiceTypeItems != null)
{
    foreach (var x in Model.lstServiceTypeItems)
    {
    <li class="media">
        <div class="media-body">
            <div class="row">
                <div class="col-8">@x.stockName</div>
            @if (x.itemType == "SINGLE")
            {
                <div class="col-2 text-center">
                    <button type="button" data-line-type="SERVICE" data-line-status="SA" data-code="@x.itemSingleCode" data-name="@x.stockName" data-price="@x.itemSinglePrice" data-quantity="1" class="btn btn-lg btn-block btn-primary btn-add-cart">@(((app.bsms.Models.Account.User)Session["Login_Details"]).currency)&nbsp;@x.itemSinglePrice</button>
                </div>
                <div class="col-2 text-center">&nbsp;</div>
            }
            else if (x.itemType == "COURSE")
            {
                <div class="col-2 text-center">&nbsp;</div>
                <div class="col-2 text-center">
                    <button type="button" data-line-type="COURSE" data-line-status="SA" data-code="@x.itemCourseCode" data-name="@x.stockName" data-price="@x.itemCoursePrice" data-quantity="1" class="btn btn-lg btn-block btn-primary btn-add-cart">@(((app.bsms.Models.Account.User)Session["Login_Details"]).currency)&nbsp;@x.itemCoursePrice</button>
                </div>
            }
            else if (x.itemType == "BOTH")
            {
                <div class="col-2 text-center">
                    <button type="button" data-line-type="SERVICE" data-line-status="SA" data-code="@x.itemSingleCode" data-name="@x.stockName" data-price="@x.itemSinglePrice" data-quantity="1" class="btn btn-lg btn-block btn-primary btn-add-cart">@(((app.bsms.Models.Account.User)Session["Login_Details"]).currency)&nbsp;@x.itemSinglePrice</button>
                </div>
                <div class="col-2 text-center">
                    <button type="button" data-line-type="COURSE" data-line-status="SA" data-code="@x.itemCourseCode" data-name="@x.stockName" data-price="@x.itemCoursePrice" data-quantity="1" class="btn btn-lg btn-block btn-primary btn-add-cart">@(((app.bsms.Models.Account.User)Session["Login_Details"]).currency)&nbsp;@x.itemCoursePrice</button>
                </div>
            }
            else
            {
                <div class="col-2 text-center">
                    <button type="button" data-line-type="@x.itemType" data-line-status="SA" data-code="@x.itemSingleCode" data-name="@x.stockName" data-price="@x.itemSinglePrice" data-quantity="1" class="btn btn-lg btn-block btn-primary btn-add-cart">@(((app.bsms.Models.Account.User)Session["Login_Details"]).currency)&nbsp;@x.itemSinglePrice</button>
                </div>
                <div class="col-2 text-center">&nbsp;</div>
            }
            </div>
            <div class="clearfix">&nbsp;</div>
        </div>
    </li>
    }
}
</ul>