@model app.bsms.Models.Manage.Customer.Register

@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script>
    $(function () {
        $("#datepicker").datepicker();
        $("#datepickertwo").datepicker();
    });
</script>
<section>
    <div class="header">
        <h2><strong>Manage Customer - Service Redemption</strong> </h2>
    </div>
    <div class="page-content">
        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <div class="col col-md-5"><label for="text-input" class="form-control-label" style="color:#7B7A4A">CUSTOMER NO</label></div>
                                        <div class="col col-md-5">
                                            <input type="text" id="text-input" name="text-input" placeholder="Key in Customer No" class="form-control" style="border-radius: 20px;
    border-color: #B0A478;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <div class="col col-md-5"><label for="text-input" class="form-control-label" style="color:#7B7A4A">HAND PHONE</label></div>
                                        <div class="col col-md-5">
                                            <input type="text" id="text-input" name="text-input" placeholder="Key in H/P No" class="form-control" style="border-radius: 20px;
    border-color: #B0A478;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <div class="col col-md-5"><label for="text-input" class="form-control-label" style="color:#7B7A4A">CUSTOMER NAME</label></div>
                                        <div class="col col-md-5">
                                            <input type="text" id="text-input" name="text-input" placeholder="Key in Customer Name" class="form-control" style="border-radius: 20px;
    border-color: #B0A478;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <div class="col col-md-5"><label for="text-input" class="form-control-label" style="color:#7B7A4A">REFERENCE CODE</label></div>
                                        <div class="col col-md-5">
                                            <input type="text" id="text-input" name="text-input" placeholder="Key in Reference Code" class="form-control" style="border-radius: 20px;
    border-color: #B0A478;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" style="color:#7B7A4A;height:30px;width:100px;border-radius:20px;border-color:#B0A478;background-color:#EAE29E" class="btn btn-primary btn-sm" onclick="myFunctions()">
                                <i class=""></i> Search
                            </button>
                            @*@Html.ActionLink("Back", "DashBoard", "", new { @class = "btn btn-sm" })*@
                            @*@Html.ActionLink("Reset", "ManageCustomer", "", new { @class = "btn btn-sm" })*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" style="background-color:#EAE292;border-color:#E3D595"
                            <div class="card-header" id=advancesearch >
                                <strong class="card-title"  style="color:#7B7A4A">ADVANCE SEARCH</strong>
                            </div>
                            <div class="card-body" id="enableadvancesearch" style="color:#7B7A4A">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="text-input" class=" form-control-label">TYPE</label></div>
                                            <div class="col col-md-5"><input type="text" id="text-input" name="text-input" placeholder="Key in Customer No" class="form-control"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="text-input" class=" form-control-label">DOB</label></div>
                                            <div class="col col-md-5"><input type="date" id="text-input" name="text-input" placeholder="Key in Date" class="form-control"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="text-input" class=" form-control-label">SITE CODE</label></div>
                                            <div class="col col-md-5"><input type="text" id="text-input" name="text-input" placeholder="Key in Customer Name" class="form-control"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="text-input" class=" form-control-label">CONSULTANTS</label></div>
                                            <div class="col col-md-5"><input type="text" id="text-input" name="text-input" placeholder="Key in Reference Code" class="form-control"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="text-input" class=" form-control-label">THERAPISTS</label></div>
                                            <div class="col col-md-5"><input type="text" id="text-input" name="text-input" placeholder="Key in Customer Name" class="form-control"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="text-input" class=" form-control-label">JOIN DATE</label></div>
                                            <div class="col col-md-5"><input type="date" id="text-input" name="text-input" placeholder="Key in Date" class="form-control"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="text-input" class=" form-control-label">CUSTOMER CODE</label></div>
                                            <div class="col col-md-5"><input type="text" id="text-input" name="text-input" placeholder="Key in Reference Code" class="form-control"></div>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" style="color:#7B7A4A;height:30px;width:100px;border-radius:20px;border-color:#B0A478;background-color:#EAE29E" class="btn btn-primary btn-sm" onclick="myFunctions()">
                                    <i></i> Search
                                </button>
                            </div>
							</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="text-align:center">
                        <a href="~/ManageCustomer/ServiceRedemption" title="Service Redemption">
                            <img src="~/img/MenuButton/otc2/Octagon Service Redemption.png" alt="ServiceRedemption" class="responsive img-fluid rotatingimg" style="width:10%" />
                        </a>
                        <a href="~/ManageCustomer/TreatmentHistory" title="Treatment History">
                            <img src="~/img/MenuButton/otc2/Octagon Treatment History.png" alt="TreatmentHistory" class="responsive img-fluid rotatingimg" style="width:8%" />
                        </a>
                        <a href="~/ManageCustomer/DiagnosisMain" title="Diagnosis">
                            <img src="~/img/MenuButton/otc2/Octagon Diagnosis.png" alt="Diagnosis" class="responsive img-fluid rotatingimg" style="width:8%" />
                        </a>
                    </div>
                </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card" style="background-color:#EAE292;border-color:#E3D595">
                                    <div class="card-header">
                                        <strong class="card-title" style="color:#7B7A4A">RESULT</strong>
                                    </div>
                                    <div class="card-body">
                                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="checkbox104">
                                                        </div>
                                                    </th>
                                                    <th>DATE</th>
                                                    <th>TRANSAC REF#</th>
                                                    <th>DESCRIPTION</th>
                                                    <th>TYPE</th>
                                                    <th>EXPIRY DATE </th>
                                                    <th>NEXT APPT.</th>
                                                    <th>AMOUNT</th>
                                                    <th>STATUS</th>
                                                    <th>TRT #</th>
                                                    <th>LIMIT</th>
                                                    <th>SALES PERSON</th>
                                                    <th>STAFF</th>
                                                    <th>TREATMENTID</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="checkbox104">
                                                        </div>
                                                    </td>
                                                    <td>10/01/2018 </td>
                                                    <td>INVSYC103444 </td>
                                                    <td>HLS TRMT </td>
                                                    <td>N</td>
                                                    <td>N/A </td>
                                                    <td>27/06/2018 10.00AM</td>
                                                    <td>205.36</td>
                                                    <td>OPEN</td>
                                                    <td>01</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td style="color:#7B7A4A" onclick="EnableTableTwo()"> </td>
                                                    <td>TRMTABM10061</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="checkbox104">
                                                        </div>
                                                    </td>
                                                    <td>14/03/2017 </td>
                                                    <td>INVSYC103444 </td>
                                                    <td>SENSITIVE TRMT </td>
                                                    <td>N</td>
                                                    <td>N/A </td>
                                                    <td>14/03/2018 </td>
                                                    <td>185.89</td>
                                                    <td>OPEN</td>
                                                    <td>01</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>TRMTABM10061</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="checkbox104">
                                                        </div>
                                                    </td>
                                                    <td>09/01/2018 </td>
                                                    <td>INVSYC103444 </td>
                                                    <td>24K FACELIFT TRMT </td>
                                                    <td>N</td>
                                                    <td>N/A </td>
                                                    <td>09/01/2018 </td>
                                                    <td>598.36</td>
                                                    <td>OPEN</td>
                                                    <td>01</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>TRMTABM10061</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="checkbox104">
                                                        </div>
                                                    </td>
                                                    <td>30/05/2018 </td>
                                                    <td>INVSYC103546 </td>
                                                    <td>A/ON 201 BOTUMIMIC </td>
                                                    <td>N</td>
                                                    <td>N/A </td>
                                                    <td>30/05/2018</td>
                                                    <td>168.06</td>
                                                    <td>OPEN</td>
                                                    <td>01</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>TRMTABM10061</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div><!-- .animated -->
                        </div><!-- .content -->
                        <div class="row">
                            <div class="col-md-12" style="text-align:center">
                                @Html.ActionLink("Reversal", "ReverseTreatment", "", new { @class = "btn btn-warning" })
                                @Html.ActionLink("Reminder", "Reminder", "", new { @class = "btn btn-warning" })
                                @*@Html.ActionLink("Exchange", "Exchange", "", new { @class = "btn btn-warning" })*@
                                <button type="submit" class="btn btn-warning">
                                    <a href="~/Service/Index">Exchange</a>
                                </button>
                                @Html.ActionLink("Next Appointment", "NextAppointment", "", new { @class = "btn btn-warning" })
                                @Html.ActionLink("Account Details", "ServiceAccount", "", new { @class = "btn btn-warning" })
                                @Html.ActionLink("Save", "Save", "", new { @class = "btn btn-warning" })
                                @Html.ActionLink("Close", "Close", "", new { @class = "btn btn-warning" })
                            </div>
                        </div>
                    </div>
                </div>


            </div>



</section>

<script>

    $(document).ready(function () {
        $("#popup").click(function () {
            $("#myModal").hide();
            $("#myModalthree").hide();
        });
        $("#popupthree").click(function () {
            $("#myModalthree").hide();
        });
    });
    function myFunctionThree() {
        $("#myModalthree").hide();

    }

    function myFunctions() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function AddPoints() {
        var x = document.getElementById("tblLast");
        $("#myModal").hide();
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function EnableTableTwo() {
        $("#myModalFour").show();
    }

    function AddPointstwo() {
        //var x = document.getElementById("tblLast");
        var x = document.getElementById("tblfromPopup");


        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        $("#myModalTwo").show();
    }
    function AddPointFromPopup() {

        var x = document.getElementById("tblLasttwo");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        $("#myModalTwo").hide();
    }




    function EnableTableTwo() {
        var x = document.getElementById("myDIVTwo");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    // Get the modal
    var modal = document.getElementById('myModal');
    var modaltwo = document.getElementById('myModalTwo');
    var modalthree = document.getElementById('myModalthree');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    var btntwo = document.getElementById("myBtnTwo");
    var btnvoid = document.getElementById("myBtnvoid");
    var btnchange = document.getElementById("myBtnchange");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }
    btntwo.onclick = function () {

        modaltwo.style.display = "block";
    }
    btnvoid.onclick = function () {
        modalthree.style.display = "block";
    }
    btnchange.onclick = function () {
        modalthree.style.display = "block";
    }
    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#myDIV").hide();
        $("#myDIVTwo").hide();
        $("#tblLast").hide();
        $("#enableadvancesearch").hide();
        $('#bootstrap-data-table-export').DataTable();
        document.getElementById("defaultOpen").click();


    });

    $("#advancesearch").click(function () {
        $("#enableadvancesearch").toggle();
    });

    function openreddem(evt, cityName) {

        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";

        //disbaletabtable
        if (cityname = "reddemtwo") {
            $("#tblLasttwo").hide();
        }
        if (cityname = "reddemthree") {
            $("#btnlabels").hide();
        }



    }
    var $TABLE = $('#addrow');


    $('.addrow-add').click(function () {
        var $clone = $TABLE.find('tr.hide').clone(true).removeClass('hide table-line');
        $TABLE.find('addrow').append($clone);
    });

    //$('.addrow-remove').click(function () {
    //    $(this).parents('tr').detach();
    //});

    //$('.addrow-up').click(function () {
    //    var $row = $(this).parents('tr');
    //    if ($row.index() === 1) return; // Don't go above the header
    //    $row.prev().before($row.get(0));
    //});

    //$('.addrow-down').click(function () {
    //    var $row = $(this).parents('tr');
    //    $row.next().after($row.get(0));
    //});

    // A few jQuery helpers for exporting only
    jQuery.fn.pop = [].pop;
    jQuery.fn.shift = [].shift;

    $BTN.click(function () {
        var $rows = $TABLE.find('tr:not(:hidden)');
        var headers = [];
        var data = [];

        // Get the headers (add special header logic here)
        $($rows.shift()).find('th:not(:empty)').each(function () {
            headers.push($(this).text().toLowerCase());
        });

        // Turn all existing rows into a loopable array
        $rows.each(function () {
            var $td = $(this).find('td');
            var h = {};

            // Use the headers from earlier to name our hash keys
            headers.forEach(function (header, i) {
                h[header] = $td.eq(i).text();
            });

            data.push(h);
        });


    });

</script>


